.label-line {
    width: 50px;
    height: 5px;
    display: inline-block;
}
.label-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 19px;
    height: 19px;
    background: url('sprites/openmapcycle.png');
}

.leg1 {
    background: rgba(250, 51, 255, 0.6);
}
.leg2 {
    background: rgba(71,  179, 0, 0.7);
}
.leg3 {
    background: rgba(38, 0, 255, 0.7);
}
.leg4 {
    background: rgba(255, 0, 0, 0.7);
}
.leg5 {
    background: repeating-linear-gradient(to right, rgba(204, 122, 0, 0.7), rgba(204, 122, 0, 0.7) 10px, rgba(0,0,0,0) 10px, rgba(0,0,0,0) 20px);
}
.leg6 {
    background-position: -76px -59px;
}
.leg7 {
    background-position: -38px -40px;
}
.leg8 {
    background-position: -97px 0;
}
.leg9 {
    background-position: -116px 0;
}